body {font-family: "Lato", sans-serif}

ol button {
    background-color: #555;
    color: white;
    float: left;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: auto;
}
ol button:hover {
    background-color: #777;
}

.tabcontent {
    color: white;
    display: none;
    padding: 50px
    text-align: center;
    width: 75%;
}

.notes {
    background-image: linear-gradient(#FFFFCC, #FFFFCC 30px, #ccc 30px, #ccc 31px, white 31px);
    background-size: 100% 31px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    line-height: 31px;
    font-family: Arial, Helvetica, Sans-serif;
    padding: 8px;
}

#newTab{
  width: auto;
}

myInput{
  background-color: #555;
  padding: 14px 16px;
  font-size: 17px;
}

textarea {
  width:inherit;
  height: 500px;
  margin: 3%;
}

input {
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 0;
  width: 20%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

.addBtn {
    padding: 7px;
    width: 5%;
    background: darkgray;
    color: white;
    float: left;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
}

.addBtn:hover {
    background-color: #bbb;
}

.close {
  position: relative;
  right: 0;
  top: 0;
  padding: 4px 4px 4px 4px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}

#INST201 {background-color:lightgray;}
#INST377 {background-color:lightgray;}
#INST466 {background-color:lightgray;}
#myDIV {background-color:lightgray;}
