html {
  box-sizing: border-box;
}

body{
  font-family: "Lato", sans-serif;
  height: 100%;
  background-color: #ddd;
  min-width: 900px;
  /*background-image: url("landingpage.png");
  background-size: cover;*/
}

header{
  -webkit-box-shadow: 0px 0px 10px 0px #777;
  -moz-box-shadow: 0px 0px 10px 0px #777;
  box-shadow: 0px 0px 10px 0px #777;
  background-color:#d85050;
  margin-bottom:25px;
}
.mdl-navigation__link:hover{
  background-color: #bf4444;
}

.container{
    overflow: auto;
    position: relative;
    height: 100%;
}

/*upper right log Out*/


#log button {
  font-family: "Times New Roman", Times, serif;
  padding: 15px 25px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: Black ;
  background-color: white;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  right: 16px;
  right: -150px;
  transition: 0.3s;
  width: 15%;
  position: fixed;


}

#log button:hover {
  background-color: white;
  right:0;
}

#log button:active {
  background-color: white;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#one {
  top: 8px;
}

#two {
  top: 72px;
}

#parent{
  width: 100%;
}

#left {
  width: 33%;
  margin-right: 3%;
  display: inline-block;
  vertical-align: top;
}

/*parent of .tabcontent*/
#right{
  width: 62%;
  height: 100%;
  border: 1px solid #ccc;
  display: inline-block;
  vertical-align: top;
}

/*upper left*/
#timer {
  position: relative;
  padding: 20px;
  font-size: 30px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  text-align: left;
  -webkit-box-shadow: 0px 10px 10px -5px #c6c6c6;
  -moz-box-shadow: 0px 10px 10px -5px #c6c6c6;
  box-shadow: 0px 10px 10px -5px #c6c6c6;
}
#timer #app {
  /*padding: 10px;*/
  margin: 0 auto;
  max-width: 1000px;
  font-size: 16px;
}
#minLabel, #secLabel {
  width: 60px;
  text-transform: uppercase;
  color: gray;
  margin-right:10px;
}
#minLabel span, #secLabel span {
  position: relative;
  left: 5px;
  font-size: 10px;
}
#min, #sec {
  text-align: center;
  width: 60px;
  background-color: #ddd;
  border-radius: 5px;
  color: gray;
}
#min {
  margin-right:10px;
}
#timeBtnContainer{
  position: absolute;
  top:0;bottom:0;right:0;
  padding: 10px 15px;
  width: 110px;
  border-left: 1px solid #eee;
  text-align: right;
}
#timeBtnContainer button{
  margin-bottom: 10px;
}
#timeBtnContainer button span {
  display: none;
}
.timer{
  margin-top: 25px;
  margin-bottom: 10px;
  font-size: 40px;
}

/*lower left*/
#todolist{

}

/* Style the header */
#myDiv {
    background-color: #d45046;
    padding: 10px 10px;
    color: white;
    text-align: center;
}

/* Clear floats after the header */
#myDiv:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the "Add" button */
.addBtn {
    padding: 10px;
    width: 20%;
    background: #d9d9d9;
    color: #555;
    float: right;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
    border-style: solid;
    border-width: thin;
    border-color: #bbb;

}

.addBtn:hover {
    background-color: #bbb;
}

/* Style the input */
#Input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
    border-style: solid;
    border-width: thin;
    border-color: #bbb;
}

/* Remove margins and padding from the list */
ul {
    margin: 0;
    padding: 0;
}

/* Style the list items */
ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;

    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
    background: #f9f9f9;
    color: #555;
}

/* Darker background-color on hover */
ul li:hover {
    background: #ddd;
    color: #555;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #555;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

/* Style the close button */
.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}

.close:hover {
    background-color: #e17169;
    color: white;
}

/*NOTEPAD*/

.theTabDIV{
  width: auto;
}

.add {
    padding: 14px 16px;
    width: 15%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-style: solid;
    border-width: thin;
    border-color: #bbb;
}

.add:hover {
    background-color: #bbb;
}

/*TABS*/
.tabcontent {
    color: white;
    padding: 50px;
    text-align: center;
    background-color: #ccc;
    width: 100%;
    height: 100%;
}

ol button {
    background-color: #d45046;
    color: white;
    float: left;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 16px;
    width: 13%;
    margin: 0;
}

ol button:hover {
    background-color: #bbb;
}

#theInput{
  margin: 0;
  border-style: solid;
  border-width: thin;
  border-color: #bbb;
  border-radius: 0;
  width: 25%;
  padding: 14px 16px;
  float: left;
  font-size: 16px;
}

.notes {
    background-image: linear-gradient(#FFFFCC, #FFFFCC 30px, #ccc 30px, #ccc 31px, white 31px);
    background-size: 100% 31px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    padding: 10px;
    line-height: 31px;
}

#newTab{
  width: auto;
}

textarea {
  width: inherit;
  height: 550px;
  /*margin: 3%;*/
}

.close {
  position: relative;
  right: 0;
  top: 0;
  padding: 4px 4px 4px 4px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}


/*TIMER*/

*, *::before, *::after {
  box-sizing: inherit;
}

input[type=number] {
  padding: 10px;
  font-size: inherit;
  width: 100%;
  border-style: solid;
  border-width: thin;
  border-color: #bbb;
}

button {
  font-size: 20px;
  transition: 0.3s;
  border-style: solid;
  border-width: thin;
  border-color: #bbb;
}

button:hover {
    background-color: #bbb;
}

[v-cloak] {
  opacity: 0;
}

label {
  width: 20%;
  padding: 10px 0;
  display: inline-block;
}
