<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Pomodoro Clock</title>
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  
      <link rel="stylesheet" href="css/style.css">

  
</head>

<body>

  <script type="text/x-template" id="app-header">
  <header>
    <div class="container">
      <div class="nav">
        <div class="nav-logo">Pomodoro Clock</div>
        <button @click="toggleSidebar" class="nav-toggle">
          <svg width="22" height="8" xmlns="http://www.w3.org/2000/svg"><path d="M1 0h20a1 1 0 0 1 0 2H1a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H1a1 1 0 1 1 0-2z" fill="#FFF" fill-rule="evenodd"/></svg>
        </button>
        <app-sidebar
          v-show="isSidebarOpen"
          :init-work="initWork"
          :init-short-break="initShortBreak"
          :is-sidebar-open="isSidebarOpen"
          @change="filterChange"
          @toggle="toggleSidebar"
          @reset="$emit('reset')"
        ></app-sidebar>
      </div>
    </div>
  </header>
</script>

<script type="text/x-template" id="app-sidebar">
  <transition
    name="sidebar"
    enter-active-class="sidebar--show"
  >
    <div class="sidebar">
      <button @click="$emit('toggle')" class="sidebar-toggle">
        <svg width="14" height="14" xmlns="http://www.w3.org/2000/svg"><path d="M5.586 7L.636 2.05A1 1 0 0 1 2.05.636L7 5.586l4.95-4.95a1 1 0 0 1 1.414 1.414L8.414 7l4.95 4.95a1 1 0 0 1-1.414 1.414L7 8.414l-4.95 4.95A1 1 0 0 1 .636 11.95L5.586 7z" fill="#333" fill-rule="evenodd"/></svg>
      </button>

      <div class="filter">
        <span class="filter__title">work</span>
        <div class="filter__time">{{ initWork }}</div>
        <input @change="handleChange" :value="initWork" data-type="work" class="filter__input" type="range" min="1" max="120">
      </div>

      <div class="filter">
        <span class="filter__title">short break</span>
        <div class="filter__time">{{ initShortBreak }}</div>
        <input @change="handleChange" :value="initShortBreak" data-type="short-break"  class="filter__input" type="range" min="1" max="120">
      </div>

      <!-- <div class="filter" v-for="filter in filters" :key="filter.id">
        <span class="filter__title">{{ filter.title }}</span>
        <div class="filter__time">{{ filter.default }}</div>
        <input @change="handleChange" :data-type="filter.title | hyphen " class="filter__input" :min="filter.min" :max="filter.max" v-model="myComputedInit" type="range"/>
      </div> -->

      <button @click="reset" class="filter__reset-btn">Reset to defaults</button>
    </div>
  </transition>
</script>

<script type="text/x-template" id="app-main">
  
  <main class="site__content">
    <div class="container">
      <div class="timer">
        <span class="timer__session js-session">{{ isBreakTime ? 'break' : 'work' }}</span>
        <span class="timer__countdown js-countdown">{{`${minutes}:${seconds}`}}</span>
      </div>
    </div>

    <app-modal v-if="isModalOpen" @close="closeModal">
      <h3 slot="header">Pomodoro</h3>
      <p slot="body">The pomodoro technique is a time management method that uses a timer to break down work into intervals separated by short breaks.</p>
    </app-modal>
    
  </main>
  
</script>

<script type="text/x-template" id="app-modal">
  <transition name="modal">
    <div class="modal">
      <div class="modal__inner flex-center">
        <div class="modal__content">
          <div class="modal-header">
            <slot name="header"></slot>
            <button @click="$emit('close')" class="modal__close">
              <svg width="14" height="14" xmlns="http://www.w3.org/2000/svg"><path d="M5.586 7L.636 2.05A1 1 0 0 1 2.05.636L7 5.586l4.95-4.95a1 1 0 0 1 1.414 1.414L8.414 7l4.95 4.95a1 1 0 0 1-1.414 1.414L7 8.414l-4.95 4.95A1 1 0 0 1 .636 11.95L5.586 7z" fill="#333" fill-rule="evenodd"/></svg>
            </button>
          </div>
          <div class="modal-body">
            <slot name="body"></slot>
          </div>
        </div>
        <div @click="$emit('close')" class="modal__overlay"></div>
      </div>
    </div>
  </transition>
</script>

<script type="text/x-template" id="app-footer">
  <footer>
    <div class="container">
      <div class="controls">

        <button @click="reset" title="reset" class="btn-sm">
          <svg width="16" height="20" xmlns="http://www.w3.org/2000/svg"><path d="M8 4.023c4.398 0 8 3.556 8 7.954 0 4.397-3.602 8-8 8s-8-3.603-8-8h2.012A5.97 5.97 0 0 0 8 17.965a5.97 5.97 0 0 0 5.988-5.988A5.97 5.97 0 0 0 8 5.988v4.024L2.994 5.006 8 0v4.023z" fill="#FFF" fill-rule="nonzero"/></svg>
        </button>

        <button @click="toggleTimer" class="btn-md">
          <span v-if="isTimerActive" class="flex-center">
            <svg width="12" height="14" xmlns="http://www.w3.org/2000/svg"><path d="M8.016.016H12v13.968H8.016V.016zM0 13.984V.016h3.984v13.968H0z" fill="#FFF" fill-rule="nonzero"/></svg>
          </span>
          <span v-else class="flex-center">
            <svg width="14" height="18" xmlns="http://www.w3.org/2000/svg"><path d="M0 0l14 9-14 9z" fill="#FFF" fill-rule="nonzero"/></svg>
          </span>
        </button>

        <button title="info" class="btn-sm" @click="toggleModal">
          <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg"><path d="M9.016 7V4.984h1.968V7H9.016zM10 18.016c4.406 0 8.016-3.61 8.016-8.016 0-4.406-3.61-8.016-8.016-8.016-4.406 0-8.016 3.61-8.016 8.016 0 4.406 3.61 8.016 8.016 8.016zm0-18A9.963 9.963 0 0 1 19.984 10 9.963 9.963 0 0 1 10 19.984 9.963 9.963 0 0 1 .016 10 9.963 9.963 0 0 1 10 .016zm-.984 15v-6h1.968v6H9.016z" fill="#FFF" fill-rule="nonzero"/></svg>
        </button>
      </div>
    </div>
  </footer>
</script>

<div id="app" class="site" :class="{'site--break': isBreakTime}">

  <app-header
    :init-work="initWork"
    :init-short-break="initShortBreak"
    @reset="resetSettings"
    @change="handleChange($event)"
  ></app-header>

  <app-main
    :is-modal-open="isModalOpen"
    :is-break-time="isBreakTime"
    :minutes="minutes"
    :seconds="seconds"
    @close-modal="toggleModal"
  ></app-main>

  <app-footer
    :is-timer-active="isTimerActive"
    @reset="resetUI"
    @toggle-timer="toggleTimer"
    @toggle-modal="toggleModal"
  ></app-footer>
  
</div> <!-- /#app -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17-beta.0/vue.js'></script>

  

    <script  src="js/index.js"></script>




</body>

</html>
