@import url("https://fonts.googleapis.com/css?family=Pacifico");
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Avenir Next', -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 1rem;
  line-height: 1.5;
  color: #fff;
  text-align: center;
  -webkit-font-smoothing: antialiased;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #d9534f;
  transition: background-color .15s ease;
}

.site--break {
  background-color: #3eab45;
}

.site__content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  padding: 0 1rem;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.nav {
  display: flex;
  height: 3.625rem;
  align-items: center;
  justify-content: space-between;
}

.nav-logo {
  font-family: "Pacifico", -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 1.5rem;
}

.nav-toggle {
  height: 100%;
}

.sidebar {
  padding: 77px 20px;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  width: 256px;
  height: 100vh;
  background-color: #fff;
  color: #333;
  will-change: transform;
  overflow-y: auto;
  z-index: 4;
  transition: all 0.4s cubic-bezier(0.4, 0, 0, 1);
}

.sidebar-enter-active,
.sidebar-leave-active {
  transition: all 0.4s cubic-bezier(0.4, 0, 0, 1);
}

.sidebar-enter,
.sidebar-leave-to {
  transform: translateX(100%);
}

.sidebar-toggle {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  top: 5px;
  right: 16px;
  padding: 0;
  width: 48px;
  height: 48px;
}

.filter {
  margin-bottom: 24px;
}

.filter__title {
  color: #333;
}

.filter__time {
  color: #474747;
}

.filter__reset-btn {
  position: absolute;
  bottom: 3rem;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #333;
}

/* input[type=range] reset */
input[type=range] {
  -webkit-appearance: none;
  /* Hides the slider so that custom slider can be made */
  width: 100%;
  /* Specific width is required for Firefox. */
  background: transparent;
  /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
  /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

/* input[type=range] custom
 * THUMB
 */
/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background: #d9534f;
  cursor: pointer;
  margin-top: -6px;
  /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  border: 0;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background: #d9534f;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  border: 0;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background: #d9534f;
  cursor: pointer;
}

/* input[type=range] custom
 * TRACK
 */
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #E1E1E1;
  border: 0;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #E1E1E1;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #E1E1E1;
  border: 0;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #E1E1E1;
  border: 0;
}

input[type=range]:focus::-ms-fill-lower {
  background: #E1E1E1;
}

input[type=range]::-ms-fill-upper {
  background: #E1E1E1;
  border: 0;
  border-radius: 0;
  box-shadow: 0;
}

input[type=range]:focus::-ms-fill-upper {
  background: #E1E1E1;
}

.timer {
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  max-width: 224px;
  height: 224px;
  border: 4px solid #fff;
  border-radius: 50%;
}
.timer::before, .timer::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.timer::before {
  width: 120%;
  height: 120%;
}
.timer::after {
  width: 80%;
  height: 80%;
}

.timer__session {
  font-weight: 500;
}

.timer__countdown {
  font-size: 2.5rem;
}

button {
  padding: 0;
  color: #fff;
  font-family: inherit;
  font-size: 1rem;
  background-color: transparent;
  border: 0;
  outline: 0;
  user-select: none;
  transition: border-color .15s ease;
}
button:not(:disabled) {
  cursor: pointer;
}

.controls {
  padding-bottom: 24px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.btn-sm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  width: calc(3rem + 4px);
  height: calc(3rem + 4px);
  line-height: 3rem;
  border: 2px solid rgba(255, 255, 255, 0.25);
  border-radius: 50%;
}

.btn-md {
  margin: 1.5rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  width: calc(4rem + 4px);
  height: calc(4rem + 4px);
  line-height: 3rem;
  border: 2px solid rgba(255, 255, 255, 0.25);
  border-radius: 50%;
}

.btn-sm:hover,
.btn-md:hover {
  border-color: #fff;
}

.modal {
  position: fixed;
  display: block;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  z-index: 1050;
  transition: all .3s ease;
}

.modal__inner {
  position: relative;
  top: 0;
  right: 0;
  width: auto;
  height: calc(100vh - 3em);
  max-width: 768px;
  margin: 1.5em auto;
  padding: 0 1em;
}

.modal__content {
  padding: 1rem 0;
  position: relative;
  width: 100%;
  background-color: #fff;
  color: #333;
  border-radius: 4px;
  transition: all .3s ease;
  z-index: 1050;
}

.modal-header,
.modal-body,
.modal-footer {
  padding: 1em;
}

.modal-header > h3,
.modal-body > h3,
.modal-footer > h3 {
  margin: 0;
}

.modal__close {
  position: absolute;
  padding: 1em;
  top: 0;
  right: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  user-select: none;
}

.modal-body {
  text-align: left;
}

.modal__overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: .64;
  transition: opacity .3s ease;
  z-index: 1040;
}

.modal-enter,
.modal-enter .modal__overlay,
.modal-leave-active .modal__overlay {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal__content,
.modal-leave-active .modal__content {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}
